<div class="home-banner">
  <div class="container">


    <h1>All Flats</h1>
   <div
  id="map"
  style="width: 50%;
  height: 300px;"
  data-markers="<%= @markers.to_json %>">
  </div>
  </div>
</div>