<p>
  <strong>Name:</strong>
  <%= @flat.address %>
</p>

<p>
  <strong>User:</strong>
  <%=  %>
</p>

<%= link_to 'Booking'%> 
<%= link_to 'Back', flats_path %>

<!-- edit_restaurant_path(@restaurant) -->
<!-- flat.user.email -->