<h1>Bookings#create</h1>
<p>Find me in app/views/bookings/create.html.erb</p>
  <div class="container">
    <h2>Creates a booking:</h2>

    <%= simple_form_for [@user, @booking] do |f| %>

      <%= f.input :start_date, label: 'date' %>
      <%= f.input :end_date, label: 'date ' %>
      <%= f.button :submit %>
    <% end %>
  </div>